<nav class="navbar navbar-expand-sm">
    <div class="container-fluid fallout-nav">

        <a class="navbar-brand" href="/">
            <img src="../../assets/logo.png" alt="" class="logo_img">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/settlements" routerLinkActive="active" ariaCurrentWhenActive="page">Settlements</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
              </li>

            </ul>
        </div>

        <div class="user_div">
            <img src="../../assets/user.png" alt="" class="user_img">
            <div class="user_info">
                <h4 class="user_name">Ruan</h4>
                <h5 class="user_username">Username</h5>
            </div>
        </div>

    </div>
</nav>

<!-- <router-outlet /> -->
<router-outlet></router-outlet>