.fallout-nav {
  padding: 30px 60px 0 60px;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--fallout-text-sm);
  font-weight: var(--bs-nav-link-font-weight);
  color: var(--fallout-dark-grey2);
  text-decoration: none;
  background: none;
  border: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  text-transform: uppercase;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--fallout-primary);
}

.logo_img {
    height: 75px;
}

.user_div {
    line-height: 53px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid #1F1F1F;
    display: flex;
    align-items: center;
    padding: 10px 25px;
}

.user_img {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 100px;
    margin: 5px;
}

.user_info {
  justify-content: space-between;
  width: 100%;
}

.user_name {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 20px !important;
}

.user_username {
    color: #848484;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.nav-logout {
  font-size: var(--fallout-text-sm);
  color: var(--fallout-dark-grey2);
  margin: 0;
  text-decoration: none;
}

.nav-logout:hover {
  color: var(--fallout-primary);
  cursor: pointer;
}