<nav class="navbar navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="../../assets/logo.png" alt="" class="logo_img">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse center_nav_text" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/settlements" routerLinkActive="active" ariaCurrentWhenActive="page">Settlements</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register</a>
                </li>

            </ul>
        </div>

        <div class="user_div">
            <img src="../../assets/user.png" alt="" class="user_img">
            <div class="user_info">
                <h4 class="user_name">Ruan</h4>
                <h5 class="user_username">Username</h5>
            </div>
            <svg class="arrow_svg" xmlns="http://www.w3.org/2000/svg" width="18" height="10" viewBox="0 0 18 10" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M9.38666 9.88857C9.51503 9.82539 11.5056 7.8911 13.8101 5.59019L18 1.40671L17.9997 1.06592C17.9993 0.625657 17.7719 0.253389 17.4114 0.103199C16.7998 -0.15165 16.9259 -0.254018 12.828 3.8248C10.7628 5.88049 9.03929 7.56237 8.99793 7.56237C8.95665 7.56237 7.25124 5.89493 5.2082 3.85689C2.629 1.2841 1.41748 0.126425 1.24445 0.0694356C0.893258 -0.046225 0.569949 0.0472055 0.263566 0.352781C0.050706 0.565079 -8.1525e-07 0.674627 -7.93585e-07 0.922449C-7.78832e-07 1.0912 0.0494797 1.32207 0.109914 1.43559C0.280416 1.75552 8.43603 9.83685 8.67945 9.92707C8.9666 10.0335 9.10792 10.0258 9.38666 9.88857Z"
                    fill="white" />
            </svg>
        </div>

    </div>
</nav>

<!-- <router-outlet /> -->
<router-outlet></router-outlet>