<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<app-navbar></app-navbar>

<div class="all_settlements_container">

    <h1 class="select_settlement_title">Select a settlement</h1>

    <div class="text-center headings_container">
        <div class="row align-items-center">

            <div class="col-2">
            </div>

            <div class="col-2">
                Settlement Name
            </div>

            <div class="col-3">
                Level
            </div>


            <div class="col-2">
                Bottle caps
            </div>

            <div class="col-2">
                Capacity
            </div>

            <div class="col-1">
            </div>

        </div>
    </div>

    <div class="text-center settlement_container">
        <div class="row align-items-center">

            <div class="col-2 col_border_l col_border_top_bottom">
                <img src="../../../assets/settlement1.png" alt="" class="settlement_img">
            </div>

            <div class="col-2 col_border_r col_center_content col_border_top_bottom">
                <h1 class="settlement_name_text">Settlement Name</h1>
                <h3 class="settlement_location_text">Settlement Location</h3>
            </div>

            <div class="col-3 col_border_r col_border_top_bottom">
                Level
            </div>


            <div class="col-2 col_border_r col_border_top_bottom">
                Bottle caps
            </div>

            <div class="col-2 col_border_top_bottom col_border_rr">
                Capacity
            </div>

            <div class="col-1 col_settlement_btn col_border_top_bottom">
                <svg class="svg_btn" xmlns="http://www.w3.org/2000/svg" width="22" height="40" viewBox="0 0 22 40"
                    fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M21.7548 19.1408C21.6159 18.8555 17.3604 14.432 12.2984 9.31098L3.09476 2.25443e-07L2.34502 0.000681036C1.37645 0.00153211 0.557461 0.506894 0.227043 1.30791C-0.333627 2.66706 -0.558835 2.38689 8.41457 11.4933C12.9371 16.0827 16.6372 19.9127 16.6372 20.0046C16.6372 20.0963 12.9688 23.8861 8.48516 28.4262C2.82502 34.1578 0.278138 36.85 0.15276 37.2346C-0.101693 38.015 0.103853 38.7334 0.776119 39.4143C1.24318 39.8873 1.48418 40 2.02939 40C2.40065 40 2.90855 39.89 3.15829 39.7557C3.86215 39.3769 21.6411 21.2533 21.8396 20.7123C22.0737 20.0742 22.0567 19.7602 21.7548 19.1408Z"
                        fill="#0D0D0D" />
                </svg>
            </div>

        </div>
    </div>




</div>