<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<app-navbar></app-navbar>

<div class="admin_container">

    <h1 class="admin_title">Admin</h1>

    <div class="text-center headings_container">
        <div class="row align-items-center">

            <div class="col-2">
            </div>

            <div class="col-2">
                Settlement Name
            </div>

            <div class="col-3">
                Level
            </div>


            <div class="col-2">
                Bottle caps
            </div>

            <div class="col-2">
                Capacity
            </div>

            <div class="col-1">
            </div>

        </div>
    </div>


</div>