<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<app-navbar></app-navbar>

<div class="admin_container">

    <h1 class="admin_title">Admin</h1>


    <div class="text-center admin_table">

        <div class="row align-items-center headings_container">

            <div class="col-1">
                Item name
            </div>

            <div class="col-1">
                Buy price
            </div>

            <div class="col-1">
                sell price
            </div>

            <div class="col-3">
            </div>

            <div class="col-1">
                Item name
            </div>

            <div class="col-1">
                Buy price
            </div>

            <div class="col-1">
                sell price
            </div>

            <div class="col-3">
            </div>

        </div>

        <div class="row align-items-center items_container">

            <div class="col-1">
                lead
            </div>

            <div class="col-1 active_value">
                100
            </div>

            <div class="col-1">
                80
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save">Save</h4>
                <h4 class="item_btns btn_cancel">cancel</h4>
            </div>

            <div class="col-1">
                steel
            </div>

            <div class="col-1">
                150
            </div>

            <div class="col-1 active_value">
                100
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save">Save</h4>
                <h4 class="item_btns btn_cancel">cancel</h4>
            </div>


        </div>

        <div class="row align-items-center items_container">

            <div class="col-1">
                lead
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-1">
                80
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>

            <div class="col-1">
                steel
            </div>

            <div class="col-1">
                150
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>


        </div>

        <div class="row align-items-center items_container">

            <div class="col-1">
                lead
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-1">
                80
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>

            <div class="col-1">
                steel
            </div>

            <div class="col-1">
                150
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>


        </div>

        <div class="row align-items-center items_container">

            <div class="col-1">
                lead
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-1">
                80
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>

            <div class="col-1">
                steel
            </div>

            <div class="col-1">
                150
            </div>

            <div class="col-1">
                100
            </div>

            <div class="col-3">
                <h4 class="item_btns btn_save2">Save</h4>
                <h4 class="item_btns btn_cancel2">cancel</h4>
            </div>


        </div>



    </div>


</div>