<app-navbar></app-navbar>

<div class="container">
  <div class="row justify-content-around pt-200">

    <div class="col-3 text-center">
      <!-- <img src="../../../assets/logo.png" alt="" class="login-logo"> -->
  
      <h1 class="login_text heading text-primary mt-60 mb-60">LOGIN</h1>
  
      <div class="text-start">
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
          <label for="loginUsername" class="form-label">EMAIL</label>
          <input type="email" class="form-control" id="loginUsername" placeholder="name@example.com" formControlName="email">
    
          <label for="loginPassword" class="form-label mt-20">PASSWORD</label>
          <input type="password" class="form-control" id="loginPassword" placeholder="enter password" formControlName="password">

          <a href="" class="small-link">FORGOT PASSWORD</a>
    
          <button type="submit" class="btn btn-primary login-btn mt-20" value="Login">LOGIN</button>
          <button type="button" class="btn btn-secondary login-btn mt-20" routerLink="/register" routerLinkActive="active"
          ariaCurrentWhenActive="page">NEW USER</button>
        </form>

      </div>
  
    </div>
  
  </div>
</div>