<div class="row justify-content-around pt-200">

  <div class="col-2 text-center">
    <img src="../../../assets/logo.png" alt="" class="login-logo">

    <h1 class="login_text heading text-primary mt-60 mb-60">LOGIN</h1>

    <div class="text-start">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <label for="loginUsername" class="form-label">EMAIL OR USERNAME</label>
        <input type="text" class="form-control" id="loginUsername" placeholder="name@example.com">
  
        <label for="loginPassword" class="form-label mt-20">PASSWORD</label>
        <input type="password" class="form-control" id="loginPassword" placeholder="enter password">
      </form>
      <a href="" class="small-link">FORGOT PASSWORD</a>

      <button type="button" class="btn btn-primary login-btn mt-20">LOGIN</button>
      <button type="button" class="btn btn-secondary login-btn mt-20">NEW USER</button>
    </div>

  </div>

</div>