<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<div class="login_container">

    <img src="../../../assets/logo.png" alt="" class="logo">

    <br>
    <h1 class="login_text">LOGIN</h1>

    <br>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="login_form">
        <label for="username" class="label_text">username or Email:</label>
        <br>
        <input type="text" id="username" formControlName="username" class="input_box" />
        <br>

        <label for="password" class="label_text">Password:</label>
        <br>
        <input type="password" id="password" formControlName="password" class="input_box" />
        <br>

        <a href="#" class="label_text_a">Forgot Password:</a>
        <br>

        <button type="submit" [disabled]="myForm.invalid" class="submit_login">Login</button>
    </form>

    <button class="new_user">New user</button>

</div>