html {
    background-color: #070707;
}

body {
    background-color: #070707;
}

.register_container {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logo {
    width: 249px;
    height: 74px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 177px;
}

.register_text {
    color: #FFF281;
    font-family: Montserrat;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: auto;
}

.label_text {
    color: #848484;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.input_box {
    width: 340px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #848484;
    background: #050505;
    color: #848484;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.input_box:focus {
    border-radius: 10px;
    border: 1px solid #FFF281;
    background: rgba(0, 0, 0, 0.50);
    color: white;
    /* color: #848484; */
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.submit_register {
    width: 340px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF281;
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 20px;
}

.already_a_user {
    width: 340px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #1F1F1F;
    color: #848484;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin: auto;
}

.register_form {
    margin: auto;
}