<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<div class="register_container">

    <img src="../../../assets/logo.png" alt="" class="logo">

    <br>
    <h1 class="register_text">Register</h1>

    <br>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="register_form">
        <label for="Name" class="label_text">Name:</label>
        <br>
        <input type="text" id="Name" formControlName="Name" class="input_box" />
        <br>

        <label for="username" class="label_text">Username:</label>
        <br>
        <input type="text" id="username" formControlName="username" class="input_box" />
        <br>

        <label for="email" class="label_text">Email:</label>
        <br>
        <input type="text" id="email" formControlName="email" class="input_box" />
        <br>

        <label for="password" class="label_text">Password:</label>
        <br>
        <input type="password" id="password" formControlName="password" class="input_box" />
        <br>

        <button type="submit" [disabled]="myForm.invalid" class="submit_register">Submit</button>
    </form>

    <button class="already_a_user">already a user</button>

</div>